.chat-app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%; 
  max-width: var(--containerWidth); 
  height: 97vh; 
  margin: 0 auto; 
  overflow: hidden; 
  border-radius: 20px; 
}

@media (min-width: 990px) {
  .chat-app {
    width: var(--containerWidth); 
    height: 640px; 
    border-radius: 20px; 
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
  }
}

header, footer {
  flex-shrink: 0;
  z-index: 2; 
}

header {
  border: 1px solid #090909;
  border-radius: 20px 20px 0 0;
}

.chat {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 20px;
  border-left: 1px solid #090909;
  border-right: 1px solid #090909;
  max-height: calc(100vh - 120px); 
}

@media (max-width: 989px) {
  header, footer {
    height: 60px; 
  }
  .chat {
    max-height: calc(100vh - 120px); 
  }
}

.message {
  width: fit-content;
  position: relative;
  color: var(--recievedMessageText);
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  max-width: var(--containerWidth);
}

.own-message .own {
  background-color: var(--sentMessageBackground); 
  align-self: flex-end;
}

.other-message .other {
  background-color: var(--receivedMessageBackground);
  color: #090909;
  align-self: flex-start;
}

.typing {
  background-color: var(--recievedMessageBackground);
  filter: opacity(0.5);
}

.typing .other {
  color: black;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.own-message .message::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent transparent var(--sentMessageBackground);
}

.other-message .message::after {
  content: "";
  position: absolute;
  left: -15px;
  rotate: 180deg;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent transparent var(--receivedMessageBackground);
}

.time-and-name {
  margin: 0;
  font-size: var(--text-size-s);
}

.time-and-name.own-message {
  text-align: right;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px; 
  border: 1px solid #090909;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box; 
  padding: 10px; 
}