:root {
  --receivedMessageBackground: #e5e5ea88;
  --sentMessageBackground: #218aff;
  --recievedMessageText: #fff;
  --time-and-name: #fffbfb00;

  --containerWidth: 360px;

  --text-size-s: 12px;
}

* {
  font-family: Arial, sans-serif;
}
